.header-container {
  background-color: #282c34;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-self: center;
  font-family: 'Lato', sans-serif;
  p {
    font-size: 35px;
    letter-spacing: 4px;
  }
}
