.heading {
  text-align: center;
  // color: #cad6e6;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 50px;
  letter-spacing: 7px;
  .red {
    color: #fb5151;
  }
  .white {
    color: #ffffff;
  }
  .blue {
    color: #51a0fb;
  }
}

.content-container {
  padding: 0 10%;
  color: #cad6e6;
  font-family: 'Lato', sans-serif;
  font-weight: 300;

  .box-title {
    font-weight: 300;

    sub {
      font-size: 11px;
    }
  }

  .note {
    color: #cad6e6;
    font-size: 13px;
  }

  .button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 100px 0;

    button {
      width: 130px;
      background: linear-gradient(135deg, #00bec7, #0073e8);
      box-shadow: 0 5px 20px -2px #0675e4;
      color: whitesmoke;
      border-radius: 8px;
      border: none;
      padding: 10px;
      text-decoration: none;
      transition: 0.5s;
    }
    button:hover {
      background: linear-gradient(115deg, #ff79aa, #b743ff);
      box-shadow: 0 5px 20px -2px rgba(200, 50, 150, 0.7);
      transition: 0.5s;
    }
    button:focus {
      outline: 0;
    }
  }

  .box-container {
    // border: 1px solid pink;
    display: flex;
    flex-wrap: wrap;

    .box {
      letter-spacing: 2px;
      padding: 10px 0 30px 0;
      width: 30%;
      flex-basis: auto;
      margin: 10px 10px 10px 0;
      border-radius: 10px;
      text-align: center;
      box-shadow: inset 0 4px 6px -2px rgba(255, 255, 255, 0.1);
      background-color: #1f1454;

      .counter {
        font-size: 30px;
        font-weight: 400;
      }
      .red {
        color: #fb5151;
      }
      .blue {
        color: #51f1fb;
      }
      .yellow {
        color: #f3ea88;
      }
      .purple {
        color: #ba97ff;
      }
      .orange {
        color: #f79372;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .content-container {
    .box-container {
      justify-content: center;
      .box {
        width: 300px;
      }
    }
  }
}
